* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.merriweather-light {
    font-family: "Merriweather", serif;
    font-style: normal;
}

.inter-uniquifier {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner {
    height: 600px;
    background: linear-gradient(rgba(34, 33, 33, 0.432), rgba(32, 32, 32, 0.329), rgba(26, 26, 25, 0.404)), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 130px 30px 130px;
    border-radius: 16px;
    line-height: 20px;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-happy {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);
}

.banner-Party {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
}

/* all-cetegories */
.all-cetegories {
    text-align: center;
    margin-bottom: 30px;
}

.off {
    color: rgb(255, 0, 0);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
}

.holiday {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
}

.categories {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
}