* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.merriweather-light {
    font-family: "Merriweather", serif;
    font-style: normal;
}

.inter-uniquifier {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner {
    height: 600px;
    background: linear-gradient(rgba(34, 33, 33, 0.432), rgba(32, 32, 32, 0.329), rgba(26, 26, 25, 0.404)), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 130px 30px 130px;
    border-radius: 16px;
    line-height: 20px;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-happy {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);
}

.banner-Party {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
}

/* all-cetegories */
.all-cetegories {
    text-align: center;
    margin-bottom: 30px;
}

.off {
    color: rgb(255, 0, 0);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
}

.holiday {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
}

.categories {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
}

/* midnight-party */
.midnight-party {
    height: 600px;
    background: linear-gradient(rgba(34, 33, 33, 0.432), rgba(32, 32, 32, 0.329), rgba(26, 26, 25, 0.404)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 130px 50px 130px;
    border-radius: 16px;
    gap: 20px;
    padding: 0 143px 0 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    line-height: 48px;
}

.to-p {
    color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
}

.btn {
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 12px;
    font-weight: 800;
    color: rgb(216, 64, 64);
}

/* new-park-hotal */

.new-park-hotal {
    height: 600px;
    background: linear-gradient(rgba(226, 159, 121, 0.644), rgba(238, 236, 237, 0.726), rgba(236, 234, 238, 0.322));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 130px 50px 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid yellowgreen; */
    flex-direction: column;
    /* jusstify-content: center; */
    line-height: 40px;
    align-items: center;
}

.place {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 600;
}

.even {
    font-size: 24px;
    font-weight: 900;
}

.time {
    color: rgb(29, 22, 22);
}

.btn2 {
    margin: 16px;
    padding: 16px 30px 16px 30px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    background-color: rgb(216, 64, 64);
    color: aliceblue;
    text-align: center;
}

/* main */
.coming-soon {

    margin: 60px 130px 50px 130px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.grounp {
    border: 6px solid rgb(216, 64, 64);
    padding: 12px;
    border-radius: 240px;
}

.best {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 600;
}

.to-p2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.best2 {
    color: rgb(255, 0, 0);
    font-size: 36px;
    font-weight: 800;
}

.holidays {
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 600;
}

.holi {
    font-size: 48px;
    font-weight: 600;
}

/* discount */
.discount {
    background: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 30px 130px 30px 130px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.img2 {
    width: 100%;
}

/* Portfolio */
.Portfolio {
    margin: 30px 130px 30px 130px;
}

.img-3 {
    display: flex;
    justify-content: space-between;
    margin: 30px 130px 30px 130px;
}

/*newsletter  */

.newsletter {
    height: 600px;
    background: linear-gradient(rgba(226, 159, 121, 0.644), rgba(214, 156, 185, 0.726), rgba(173, 120, 160, 0.322));
    margin: 30px 130px 50px 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 16px;
    /* border: 2px solid yellowgreen; */
    line-height: 40px;
    /* align-items: center; */
    text-align: center;
    line-height: 50px;
}
.input-text2{
    margin: 30px;
    padding: 40px;
}

.input-text {
    padding: 20px 80px 20px 80px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px 0px 0px 50px;
}

.input-btn {
    padding: 20px 20px 22px 20px;
    margin: -10px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    font-size: 15px;
    font-weight: 600;
    background: rgb(255, 0, 0);
}
/* footer */